ul.todo-list input[type="checkbox"] {
  display: block;
  margin-right: 50px;
  outline: none;
}

 ul.todo-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.todo-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  font-size: 1.1em;
  background-color: white;
  background-image: -webkit-linear-gradient(left, #D1E2FF 1px, transparent 0);
  background-image: -o-linear-gradient(left, #D1E2FF 1px, transparent 0);
  background-image: linear-gradient(90deg, #D1E2FF 1px, transparent 0);
  background-repeat: no-repeat;
  background-position: 55px 0;
}

ul.todo-list li:first-child {
  margin-top: 20px;
}

ul.todo-list li.cross-out {
  text-decoration: line-through;
  background: -webkit-linear-gradient(left, white 55px, #D1E2FF 0, #D1E2FF 56px, #F9F9F9 0);
  background: -o-linear-gradient(left, white 55px, #D1E2FF 0, #D1E2FF 56px, #F9F9F9 0);
  background: linear-gradient(to right, white 55px, #D1E2FF 0, #D1E2FF 56px, #F9F9F9 0);
}