.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  max-width: 420px;
  background-color: rgba(255, 255, 255, .5);
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 2px #E5B200;
          box-shadow: 10px 10px 2px #E5B200;
}