form.addTodo {
  width: 100%;
}

form.addTodo input[type="text"] {
  width: 100%;
  padding: 20px;
  border: 10px solid rgb(247, 247, 247);
  border-radius: 5px;
  outline-offset: -10px;
  outline: 1px solid rgb(235, 235, 235);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  text-align: center;
  font-size: 24px;
  z-index: 100;
}

form.addTodo input[type="submit"] {
  display: none;
}